# RUST_LOG Configuration for the bot
RUST_LOG=warning,useless_bot=debug
# Discord bot configuration
TOKEN=bot_token
APPLICATION_ID=application_id
GUILD_ID=guild_id
# Greeting message of the bot, used in the !hi command
GREETING="Hello!"
# Determine if the bot should use guild commands or global commands. If set to true, the bot will use guild commands,
# which are faster to update but only available in the specified guild. If set to false, the bot will use global
# commands, which take longer to update but are available in all guilds.
USE_GUILD_COMMANDS=false

# Feature flags
# Replace facebook links with facebed
FACEBOOK_LINK_REPLACE_ENABLED=false
# Use custom Discord embed for facebed link.
FACEBOOK_ALTERNATE_PREVIEW=false
